.page {
  padding: 30px;
  background: #f4f8ff;
  min-height: 100vh;
}

.title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #3276bd;
}

.info {
  color: #555;
  font-size: 16px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.06);
  border-left: 5px solid #3276bd;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.row span {
  font-weight: 600;
  color: #333;
}

.status {
  margin-top: 10px;
  text-align: right;
}

.confirmed {
  color: green;
  font-weight: bold;
}

.pending {
  color: orange;
  font-weight: bold;
}

.cancelled {
  color: red;
  font-weight: bold;
}